.App {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: auto;
  grid-gap: 3rem;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 2rem;
  }

  .Coluna {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (max-width: 1024px) {
      width: 100%;
      align-items: center;
    }
  }
}
